<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.zipdaum.favorite.mapper.FavoriteRegionMapper">

  <insert id="insertFavoriteRegion">
    INSERT INTO favorite_region (user_id, sgg_cd, umd_nm)
    VALUES (#{userId}, #{sggCd}, #{umdNm})
  </insert>

  <delete id="deleteFavoriteRegion">
    DELETE FROM favorite_region
    WHERE user_id = #{userId}
      AND sgg_cd = #{sggCd}
      AND umd_nm = #{umdNm}
  </delete>

</mapper>
